/* App.css */

.app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title-container {
    background-color: #429d9f;
    color: #0e1818;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  
  .timer-container {
    background-color: #151817;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
  
  .timer-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .timer-display {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .time-controls {
    margin-bottom: 20px;
  }
  
  .interval-count {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .progress-container {
    margin-bottom: 20px;
    color: black
  }
  
  .progress-bar {
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .work-progress {
    width: calc((100% / 25) * var(--work-interval));
    background-color: #4caf50;
  }
  
  .break-progress {
    width: calc((100% / 5) * var(--break-interval));
    background-color: #f44336;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn {
    margin: 0 10px;
  }

